<% include ../partials/header %>

<div class="ui text container">
    <h1 class="ui header">Edit <%= campground.name %></h1>
    <form class="ui form" action="/campgrounds/<%= campground._id %>?_method=PUT"  method="post">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="<%= campground.name %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="image" value="<%= campground.image %>">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="description" rows="5"><%= campground.description %></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui divider"></div>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
</div>

<% include ../partials/footer %>