<% include ../partials/header %>

<div class="ui container">

    <div class="ui vertical stripe segment">
        <div class="ui stackable grid container">
            <div class="row">
                <div class="four wide column">
                    <!-- left column-->
                    <!-- TODO: PUT GOOGLE MAP HERE-->
                    <div class="ui vertical menu fluid">
                        <a class="active item">Info</a>
                        <!-- TODO: ADD USER EMAIL TO DATABASE -->
                        <a href="mailto:notimplemented@example.com" class="item">Contact</a>
                    </div>
                </div>
                <div class="twelve wide right floated column">
                    <img class="ui fluid image rounded" src="<%= campground.image %>">
                    <div class="ui secondary segment">
                        <div class="ui blue clearing segment">
                            <h1 class="ui header left floated"><%= campground.name %></h1>
                            <!-- TODO: ADD PRICE TO DATABASE -->
                            <h3 class="ui header right floated">$9.00 / night</h3>
                            <div class="ui section divider hidden"></div>
                            <div class="ui blue bottom right attached label">
                                <em>Submitted by <%= campground.author.username %></em>
                            </div>
                        </div>

                        <div class="ui basic segment">
                            <p><%- campground.description %></p>
                        </div>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <form action="/campgrounds/<%= campground._id%>/?_method=DELETE" method="POST">
                            <button class="ui button basic small red right floated">
                                <i class="trash icon"></i> Delete
                            </button>
                        </form>
                        <a href="/campgrounds/<%= campground._id%>/edit"
                            class="ui button basic small black right floated" tabindex="0">
                            Edit
                        </a>
                        <% } %>
                        <a href="/campgrounds/<%= campground._id%>/comments/new" class="ui button basic small black"
                            tabindex="0">
                            Leave a Comment
                        </a>
                        <div class="ui large comments">
                            <% campground.comments.forEach(function(comment) { %>
                            <div class="ui divider"></div>
                            <div class="comment">
                                <div class="content">
                                    <a class="author"><%= comment.author.username %></a>
                                    <div class="metadata">
                                        <div class="date">2 days ago</div>
                                    </div>
                                    <div class="text">
                                        <%= comment.text %>
                                    </div>
                                    <!-- TODO: CHECK USER -->
                                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <div class="actions">
                                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                            tabindex="0">
                                            Edit
                                        </a>
                                        <form id="commentDelete"
                                            action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                            method="POST" style="display: inline">
                                            <a href="javascript:{}"
                                                onclick="document.getElementById('commentDelete').submit(); return false;"
                                                tabindex="0">
                                                Delete
                                            </a>
                                        </form>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<% include ../partials/footer %>